#quiz{
    max-width: 450px;
    border: solid lightgray 1px;
    border-top: 0px;
    margin: 0 auto;
    padding: 0px 10px 10px 10px;
    text-align: center;
}
.answers{
    
}
#quiz p{
    display: inline;
    border: solid gray 1px;
    padding: 10px;
}